# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries (pandas, numpy etc)

In [2]:
import pandas as pd
import numpy as np

### Step 2. Run the below line of code to create a dictionary

In [3]:
raw_data = {"name": ['Bulbasaur', 'Charmander','Squirtle','Caterpie'],
            "evolution": ['Ivysaur','Charmeleon','Wartortle','Metapod'],
            "type": ['grass', 'fire', 'water', 'bug'],
            "hp": [45, 39, 44, 45],
            "pokedex": ['yes', 'no','yes','no']                        
            }
pd.DataFrame(raw_data)

         name   evolution   type  hp pokedex
0   Bulbasaur     Ivysaur  grass  45     yes
1  Charmander  Charmeleon   fire  39      no
2    Squirtle   Wartortle  water  44     yes
3    Caterpie     Metapod    bug  45      no

### Step 3. Assign it to a variable called pokemon and it should be a pandas Series.

In [4]:
pokemon=pd.Series(raw_data)
pokemon

name         [Bulbasaur, Charmander, Squirtle, Caterpie]
evolution      [Ivysaur, Charmeleon, Wartortle, Metapod]
type                           [grass, fire, water, bug]
hp                                      [45, 39, 44, 45]
pokedex                               [yes, no, yes, no]
dtype: object

### Step 4. If the DataFrame columns are in alphabetical order, change the order of the columns as name, type, hp, evolution, pokedex

In [5]:
pokemon=pd.DataFrame(raw_data)
print(pokemon)
p=pokemon[["name","type","hp","evolution","pokedex"]]
p

         name   evolution   type  hp pokedex
0   Bulbasaur     Ivysaur  grass  45     yes
1  Charmander  Charmeleon   fire  39      no
2    Squirtle   Wartortle  water  44     yes
3    Caterpie     Metapod    bug  45      no

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

### Step 5. Add another column called place, and insert places (lakes, parks, hills etc) of your choice.

In [6]:
p["place"]=["lakes","parks","hills","beaches"]
p

C:\Users\hp\AppData\Local\Temp\ipykernel_532\2311272110.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p["place"]=["lakes","parks","hills","beaches"]

         name   type  hp   evolution pokedex    place
0   Bulbasaur  grass  45     Ivysaur     yes    lakes
1  Charmander   fire  39  Charmeleon      no    parks
2    Squirtle  water  44   Wartortle     yes    hills
3    Caterpie    bug  45     Metapod      no  beaches

### Step 6. Display the data type of each column

In [7]:
p.dtypes

name         object
type         object
hp            int64
evolution    object
pokedex      object
place        object
dtype: object